CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea/
cmake-build-*/
Gitinspector_stats.html
node_modules
.pio
.pioenvs
.piolibdeps
CMakeListsPrivate.txt
include/rest-cpp
.idea